div.column{
    min-height: 30vh;
    width: 30vw;
    background: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 2vh;
    margin: 2vh 2vw;

    img{
        height: 16vw;
        width: 16vw;
        border-radius: 8vw;
        border: 1px gray solid;
        background: aqua;
    }
    h1{
        font-size: 2em;
        font-weight: 300;
        color: #76cefd;
        text-shadow: gray 1px 1px 2px;
        transition: 0.5s all ease-in-out;
        &:hover{
            cursor: pointer;
            transform: scale(1.02);
        }
    }
    p{
        font-size: 1em;
        color: #515151;
        text-shadow: gray 1px 1px 2px;
        text-align: center;
        font-weight: 300;
    }

}
