ul.menu{
    user-select: none;
}
ul.expand_menu{
    user-select: none;
}

@media screen and (max-width: 600px) {

    div.navigation {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 5vh;
        box-shadow: gray 1px 1px 2px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        border: 1px black solid;

    }
    button{
        height: 40px;
        width: 40px;

        display: block;
        border-radius: 5px;
    }
    button.expand_menu {

        height: 40px;
        width: 40px;
        font-size: 20px;
        display: block;
        font-weight: 600;
    }

    button.search {
        height: 40px;
        width: 40px;
        background: #8698ff;
        display: block;
    }

    ul.menu {
        display: none;
    }

    ul {
        margin: 0;
    }

    ul.expand_menu {
        z-index: 300;
        position: relative;
        left: 0;
        width: 99%;
        margin-left: 0;
        box-shadow: gray 1px 1px 2px;
        li {
            padding-left: 0;
            height: 5%;

            z-index: 300;
            margin: 20px;
            font-weight: 400;
            font-size: 20px;
            transition: all 0.25s ease-in-out;
        }

        li:hover {
            cursor: pointer;
            text-shadow: #8698ff 1px 1px 10px;
            transform: scale(1.01);

        }

        li.button {
            list-style: none;
        }
    }
}

@media screen and (min-width: 600px) {
    ul.expand_menu {
        display: none;
        user-select: none;
    }

    ul {
        margin: 0;
    }

    div.navigation {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 5vh;
        box-shadow: gray 1px 1px 2px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        z-index: 600;

        button.expand_menu {
            display: none;
        }

        button.search {
            display: none;
        }

        h1.title {
            font-size: 1.5em;
            font-weight: bold;
            margin-left: 1em;
            color: #000000;
            transition: all 0.25s ease-in-out;

            &:hover {
                cursor: pointer;
                text-shadow: #4e97f3 1px 1px 10px;
                transform: scale(1.01);
            }
        }

        ul.menu {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;

            li {
                margin: 20px;
                font-weight: 400;
                font-size: 20px;
                transition: all 0.25s ease-in-out;
            }

            li:hover {
                cursor: pointer;
                text-shadow: #8698ff 1px 1px 10px;
                transform: scale(1.01);

            }

            li.button {
                list-style: none;
            }
        }
    }
}

div.margin {
    margin: 0;
    width: 100%;
    height: 5vh;


}